# This starter workflow is for a CMake project running on a single platform. There is a different starter workflow if you need cross-platform coverage.
# See: https://github.com/actions/starter-workflows/blob/main/ci/cmake-multi-platform.yml
name: Ubuntu 24.04

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  release:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally well on Windows or Mac.
    # You can convert this to a matrix build if you need cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v4

    - name: Install Armadillo
      run: |
        sudo apt update
        sudo apt install libarmadillo-dev -y

    - name: Install Doxygen
      run: |
        sudo apt update
        sudo apt install doxygen -y

    - name: Install dot
      run: |
        sudo apt update
        sudo apt install graphviz -y

    - name: Configure CMake
      # Configure CMake in a 'build' subdirectory. `CMAKE_BUILD_TYPE` is only required if you are using a single-configuration generator such as make.
      # See https://cmake.org/cmake/help/latest/variable/CMAKE_BUILD_TYPE.html?highlight=cmake_build_type
      run: cmake -B ${{github.workspace}}/build -DBUILD_TESTS=ON -DBUILD_DOCS=ON -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      # Build your program with the given configuration
      run: cmake --build ${{github.workspace}}/build

    - name: Upload built artifacts
      uses: actions/upload-artifact@v4
      with:
        name: build
        path: ${{github.workspace}}/build

    - name: Upload documents
      uses: actions/upload-artifact@v4
      with:
        name: documents
        path: ${{github.workspace}}/build/doc/html

  test:
    runs-on: ubuntu-24.04
    needs: build

    steps:
    - name: Download artifact
      uses: actions/download-artifact@v4
      with:
        name: build
        path: ${{github.workspace}}/build

    - name: Install Armadillo
      run: |
        sudo apt update
        sudo apt install libarmadillo-dev -y

    - name: Test
      working-directory: ${{github.workspace}}/build
      # Execute tests defined by the CMake configuration.
      # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
      run: |
        chmod +x test_*
        ctest -VV

